@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Rubik", sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 40px white inset !important;
}

#invoiceTable {
  border-collapse: collapse;
  border-radius: 6px;
  overflow: hidden;
  font-size: 14px;
  width: 100%;
  border-spacing: 2px;
  border: 1px solid #efeeef;
}

#invoiceTable thead th {
  text-align: center;
  padding: 8px;
  color: white;
  background-color: #6539c0;
}

#invoiceTable tbody td {
  padding: 8px;
  text-align: center;
  vertical-align: middle;
  white-space: normal;
}

.items-description ul {
  font-weight: bold;
  padding-left: 20px;
  margin-bottom: 0;
  padding-bottom: 0;
}

.items-description {
  word-break: break-word;
}

tr:nth-child(odd) {
  background-color: #efebf9;
}

tr:nth-child(even) {
  background-color: white;
}

/* .items-description {
  background-color: white;
} */

.w-35 {
  width: 35%;
}

.custom-background-color {
  background-color: #f2f3f7 !important;
}

.d-block {
  color: #c2c7d0;
}

.custom-text-color {
  color: #070707;
}

.custom-text-color:hover {
  color: #070707;
}

label:not(.form-check-label):not(.custom-file-label) {
  font-weight: 400 !important;
}

.thumb-lg {
  height: 100px;
  width: 100px;
}

.img-thumbnail {
  padding: 0.25rem;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  max-width: 100%;
  height: auto;
}

.swal2-show {
  height: 60px;
  right: 6px !important;
  border-radius: 0 !important;
}

.swal2-popup.swal2-toast {
  padding: 5px 1rem !important;
}

.navbar-nav {
  margin-left: -8px;
}

.bg-primary {
  background-image: linear-gradient(#416baf, #365fa2, #416baf);
}

.rounded {
  border-radius: 10px !important;
}

.p-2 {
  padding: 0.5rem !important;
}

.breadcrumb {
  font-size: 14px;
}

.card-title {
  font-size: 1rem;
  font-weight: 700;
}

.card:not(.table-card) .table tr td:last-child,
.card:not(.table-card) .table tr th:last-child {
  padding-right: 25px;
}

.table thead th {
  border-bottom: 1px solid #f1f1f1;
  font-size: 13px;
  color: #060606;
  background: #f8f9fd;
  text-transform: uppercase;
}

.table td,
.table th {
  border-top: 1px solid #f1f1f1;
  border-bottom: 1px solid #f1f1f1;
  white-space: nowrap;
  padding: 0.7rem 0.75rem;
}

.table td,
.table th {
  vertical-align: middle;
  text-align: center;
}

.table > :not(caption) > * > * {
  padding: 0.9rem 0.75rem;
  background-color: var(--bs-table-bg);
  border-bottom-width: 1px;
  box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}

.action-btn {
  width: 29px;
  height: 28px;
  border-radius: 9.3552px;
  color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  flex-shrink: 0;
}

.bg-warning {
  --bs-bg-opacity: 1;
  background-color: rgba(
    var(--bs-warning-rgb),
    var(--bs-bg-opacity)
  ) !important;
}

.ms-2 {
  margin-left: 0.5rem !important;
}

.btn {
  font-size: 14px;
}

.mx-3 {
  margin-right: 1rem !important;
  margin-left: 1rem !important;
}

.btn-sm,
.btn-group-sm > .btn {
  --bs-btn-padding-y: 0.25rem;
  --bs-btn-padding-x: 0.5rem;
  --bs-btn-font-size: 0.76563rem;
  --bs-btn-border-radius: 4px;
}

.custom-btn,
.custom-btn:hover {
  color: #fff;
  border-color: #712cf9;
  background-color: #712cf9;
}

.breadcrumb {
  font-size: 14px;
}

.billCard {
  font-family: "Open Sans", sans-serif !important;
  /* background-image: url(../../images/bill/bill-bg.svg);
  background-repeat: no-repeat;
  background-size: contain; */
}

.card-title {
  font-size: 1rem;
  font-weight: 700;
}

.card:not(.table-card) .table tr td:last-child,
.card:not(.table-card) .table tr th:last-child {
  padding-right: 25px;
}

.table thead th {
  border-bottom: 1px solid #f1f1f1;
  font-size: 13px;
  color: #060606;
  background: #f8f9fd;
  text-transform: uppercase;
}

.table td,
.table th {
  border-top: 1px solid #f1f1f1;
  border-bottom: 1px solid #f1f1f1;
  white-space: nowrap;
  padding: 0.7rem 0.75rem;
}

.table td,
.table th {
  vertical-align: middle;
  text-align: center;
}

.table > :not(caption) > * > * {
  padding: 0.9rem 0.75rem;
  background-color: var(--bs-table-bg);
  border-bottom-width: 1px;
  box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}

.action-btn {
  width: 29px;
  height: 28px;
  border-radius: 9.3552px;
  color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  flex-shrink: 0;
}

.bg-warning {
  --bs-bg-opacity: 1;
  background-color: rgba(
    var(--bs-warning-rgb),
    var(--bs-bg-opacity)
  ) !important;
}

.ms-2 {
  margin-left: 0.5rem !important;
}

.btn {
  font-size: 14px;
}

.mx-3 {
  margin-right: 1rem !important;
  margin-left: 1rem !important;
}

.btn-sm,
.btn-group-sm > .btn {
  --bs-btn-padding-y: 0.25rem;
  --bs-btn-padding-x: 0.5rem;
  --bs-btn-font-size: 0.76563rem;
  --bs-btn-border-radius: 4px;
}

.custom-btn,
.custom-btn:hover {
  color: #fff;
  border-color: #712cf9;
  background-color: #712cf9;
}

.bg-primary {
  background-image: linear-gradient(#416baf, #365fa2, #416baf);
}

.rounded {
  border-radius: 10px !important;
}

#customerDetails .card {
  background-color: #efebf9;
  width: 49%;
}

#invoice {
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
}

#invoice thead tr {
  /* background-color: #6739c0; */
  background-color: #efebf9;
  color: black;
}

#invoice tbody tr:nth-child(even) {
  background-color: #efebf9;
}

.title {
  color: #653bbc;
}

.invoice-text {
  color: #838383;
}

.error {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 0.875em;
  color: #dc3545;
}

.success {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #28a745;
}

.left-padding {
  padding-left: 0.4rem;
}

.autocomplete #supplierSuggestionList,
.autocomplete #customerSuggestionList,
.autocomplete #productAddSupplierSuggestionList,
.autocomplete #customerSuggestionSells {
  list-style: none;
  padding: 0px;
  width: 100%;
  position: absolute;
  margin: 0;
  background: white;
  z-index: 999 !important;
}

.autocomplete .results > #supplierSuggestionList,
.autocomplete .results > #customerSuggestionList,
.autocomplete .results > #productAddSupplierSuggestionList,
.autocomplete .results > #customerSuggestionSells {
  max-height: 200px;
  overflow-y: auto;
}

.autocomplete #supplierSuggestionList li,
.autocomplete #customerSuggestionList li,
.autocomplete #productAddSupplierSuggestionList li,
.autocomplete #customerSuggestionSells li {
  background: white;
  padding: 10px;
  margin-bottom: 1px;
  z-index: 1;
  transition: all 0.25s ease-in; /* here */
}

.autocomplete #supplierSuggestionList li:nth-child(even),
.autocomplete #customerSuggestionList li:nth-child(even),
.autocomplete #productAddSupplierSuggestionList li:nth-child(even),
.autocomplete #customerSuggestionSells li:nth-child(even) {
  background: white;
  color: black;
}

.autocomplete #supplierSuggestionList li:hover,
.autocomplete #customerSuggestionList li:hover,
.autocomplete #productAddSupplierSuggestionList li:hover,
.autocomplete #customerSuggestionSells li:hover {
  cursor: pointer;
  background: #4a00e0;
  color: white;
}

.autocomplete input[type="text"] {
  padding: 5px;
  width: 100%;
  letter-spacing: 1px;
}

.badge-success-custom {
  background-color: #f1f6ee;
  color: #63914a;
  font-weight: 500;
  padding: 4px 10px;
}

.table-wrapper {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
}

.table thead th {
  border-top: 0;
  border-bottom: 1px solid #dee2e6;
}

@media only screen and (max-width: 767px) and (min-width: 290px) {
  .w-custom {
    width: 100% !important;
  }
  .custom-icon-size {
    font-size: 40px !important;
  }
}

@media only screen and (max-width: 1023px) and (min-width: 768px) {
  .w-custom {
    width: 75% !important;
  }
}

.w-custom {
  width: 50%;
}

@media (max-width: 1023px) {
  .custom-col-6 {
    width: 50% !important;
  }
}

#invoiceBody {
  font-family: "Open Sans", sans-serif !important;
}

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 10px;
  font-weight: bold;
  font-size: 12px;
}

@media print {
  body,
  #content-div[size="A4"] {
    margin: 0;
    box-shadow: 0;
  }

  thead {
    display: table-row-group; /* Hide the table header on pages 2 and onward */
  }

  @page {
    margin-bottom: 0;
    counter-increment: page; /* Increment the page counter for page numbering */
  }
}
